/*fontsquirrel.com*/
@font-face {
    font-family: '3dumbregular';
    src: url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot');
    src: url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.woff2') format('woff2'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.woff') format('woff'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.ttf') format('truetype'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 , h2
{
    color: red;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    border: 0.1em black solid;
    box-shadow: 6px 6px 6px black; /*décalages horiz vert adoucissement du dégradé couleur + inset pour mettre l'ombre à l'intérieur*/
    text-shadow: 2px 2px 3px red;
}
.exemple
{
    color:darkgoldenrod;
    font-style: oblique;
    font-weight: bold;
    text-decoration:line-through;
}

h2 + p
{
    font-size: 1.5em;
    /*font-family: '3dumbregular', Arial;*/
    text-align:center;
    color:white;
    /*background-color: aqua;*/
    /*background-image:url(../images/photo_miniature.jpg);*/
    /*background-position: top right;
    background-attachment: scroll;*/
    background:grey fixed no-repeat top right;
    opacity:0.6;
    border : 0.6em blue dashed;
    /*border-radius : 0.4em 0.5em 0.6em 0.9em;*/
    border-radius : 0.2em / 0.9em;
}
p em
{
    font-size:2em;
    text-decoration: overline
}
.flottante
{
    float: left;
}
.dessous
{
    clear:both;
}
ul
{
    color:rgb(5,178,45);
    border-top : 0.3em black double;
}
*
{
    background:url(../images/photo_miniature.jpg) top right no-repeat fixed;
}
/*a:hover (pour quand la souris pointe dessus) marche aussi avec p.hover - a:active (quand le visiteur clique dessus)
a:visited (lorsque le lien a déjà été consulté) a:focus (quand le visiteur sélectionne le formulaire)
{
text-decoration
color
...
}
