@font-face {
    font-family: '3dumbregular';
    src: url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot');
    src: url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.woff2') format('woff2'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.woff') format('woff'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.ttf') format('truetype'),
         url('../font/web_fonts/3dumb_regular_macroman/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body 
{
    
    display: flex;
    background:url(../images/beige_site_mini.jpg) fixed;
    border:0.1em black solid;
    border-radius: 1em 1em 1em 1em;
    
    
}
.page
{
    width: 95%;
    margin-right: 1%;
    
    

}

.bandeau
{
    

    width: 12%;
    background-color: firebrick;
    border-radius : 1em 0em 0em 1em;
    
}
header
{
    display: flex;
    justify-content: space-between;
    
    
    margin-right: 1%;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    
}



.intitule
{
    
    margin-left: 15%;
    width: 40%;
    text-align:center;

}

.image_cv
{
    border : 0.1em brown solid;
    border-radius : 1em / 1em;
    box-shadow: 1px 1px 1px black;
    margin-right: 10%;
}


section
{
    display:flex;
    
    
    font-family: Verdana;
    font-size: 0.9em;

}

.experience
{
    width:55%;
    
    margin-left: 1%;
    text-align: justify;
}

.competences
{
    margin-left: 3%;
    
    width:25%;
    
}

.formation
{
    margin-left: 5%;
    margin-right: 2%;
    
    width:30%;
    
}

footer 
{
    font-weight: bold;
    font-size:1.2em;
    font-family: "Courier New";
    text-align: center;
    
    
}

h1,h2
{
    font-family: '3dumbregular', Verdana;
    color: brown;
} 

@media screen and (max-width:1280px)
{
.experience, .competences, .formation, footer, section
    {
        width: auto;
    }
section
    {
        flex-direction: column;
    }
.bandeau
    {
        display: none;
    }
}


